// Schedule
.categoryTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3d3d3d;
    margin-bottom: 0.2rem;
}

.vv {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(224, 158, 225, 0.16);
    box-shadow: 7px 8px 42.7px rgba(199, 198, 217, 0.19);
    border-radius: 37px;
    margin: 0 !important;
}
